.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:20px;
    background-color: white;
    top:0;
    position: sticky;
    z-index: 100;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #00000099;
    top: 0;
    color: wheat;
    position: sticky;
    z-index: 100;
}
/*
.header.shadow { 
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}*/

.header__left{
    display: flex;
    align-items: center;
   
}
.header__right{
    display: flex;
    align-items: center;
}
.header__icon{
    margin-right:5px;
}

.header__logo{
    margin-left: 20px;
    height:52px ;
    object-fit: contain;

}
.header__logo1{
    height:52px ;
    object-fit: contain;

}

.header__input{
    display: flex;
    align-items: center;
  
    border: 1px solid #836f498a;   
    border-radius:5px 5px 5px 5px;
}
.header__input > form {
    display:flex;
    
    align-items: center;
}
.header__input > form > input{
    flex: 1;
    border:none;
    height:40px;
    font-size:16px;
    
    padding-left:10px;
    color:white;
    padding-right:10px;
    background-color: transparent;

}
.header__input > form > input:focus{
    outline: none !important;
    border:none;
   /* box-shadow: 1px 1px 3px 3px #655017; */
    
}
.header__input:hover{
    box-shadow:  0px 0px 17px -4px wheat;
}
.header__input_button {
    width: 50px !important;
    border-left: 1px solid #655017;
    color: #9f640b;
}

.header__text > label{
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1.5px;
}
.header__text > label >span{
    color: red;
}

.header__right > button{
    color:white;
    text-transform: uppercase;
    background-color: red;
    padding: 10px;
    border:white;
    margin-left:10px;
    margin-right:10px;
    
}
.header__right > label{
    color:grey;
    margin-right:10px;
    
}

.header__right > label:focus{
    text-decoration: underline;   
}

.header_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}



.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #622c09 !important;
    color: rgb(255 255 255 / 87%) !important;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    outline: 0;
    left: 0;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 56px;
    color: rgb(110 76 76 / 66%) !important;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.css-10hburv-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
    text-transform: capitalize !important;
}


.header_drawer_kategory {
    background-color: black;
    padding: 30px;
    color: white;
    border-bottom: 10px solid #a3290a;
    /* margin-bottom: 10px; */
}
.header_drawer_kategory_content{
    background-color: #e77a11 !important;
}

.pop{
    color:white;
    text-decoration: none;
    text-transform: capitalize;
}

.css-wf16b5 {
    background-color: rgb(32, 30, 30) !important;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
}