.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:20px;
    background-color: white;
    top:0;
    position: sticky;
    z-index: 100;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #00000099;
    top: 0;
    color: wheat;
    position: sticky;
    z-index: 100;
}
/*
.header.shadow { 
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}*/

.header__left{
    display: flex;
    align-items: center;
   
}
.header__right{
    display: flex;
    align-items: center;
}
.header__icon{
    margin-right:5px;
}

.header__logo{
    margin-left: 20px;
    height:52px ;
    object-fit: contain;
   

}
.header__input{
    display: flex;
    align-items: center;
  
    border: 1px solid #836f498a;   
    border-radius:5px 5px 5px 5px;
}
.header__input > form {
    display:flex;
    
    align-items: center;
}
.header__input > form > input{
    flex: 1;
    border:none;
    height:40px;
    font-size:16px;
    
    padding-left:10px;
    color:white;
    padding-right:10px;
    background-color: transparent;

}
.header__input > form > input:focus{
    outline: none !important;
    border:none;
   /* box-shadow: 1px 1px 3px 3px #655017; */
    
}
.header__input:hover{
    box-shadow:  0px 0px 17px -4px wheat;
}
.header__input_button {
    width: 50px !important;
    border-left: 1px solid #655017;
    color: #9f640b;
}

.header__text > label{
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1.5px;
}
.header__text > label >span{
    color: red;
}

.header__right > button{
    color:white;
    text-transform: uppercase;
    background-color: red;
    padding: 10px;
    border:white;
    margin-left:10px;
    margin-right:10px;
    
}
.header__right > label{
    color:grey;
    margin-right:10px;
    
}

.header__right > label:focus{
    text-decoration: underline;   
}

.header_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
