.recomendedvideo_top_ads{
    display: flex;
    padding:30px 30px 0px 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.top_ads_item{
    flex:0.4;
}

.ads_right{
    text-align:right;
    padding-right:2px;
}
.ads_left{
    text-align:left;
    padding-left:2px;
}
.top_ads_item img{
  width:100%;
}