

.bodycontent_sidebar>a{
 
    
        text-decoration: none;
        color: white;
        border-left: 1px solid #957c57a8;
        /* background-color: #7955130d; */
    
    
}

.bodycontent_sidebar {
    align-items: center;
    display: none;
    /* flex: 1; */
    border-radius: 5px 5px 5px 5px;
    margin-left: 70px;
    margin-right: 100px;
    box-shadow: 1px 1px 1px 0px #7c6a0d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 10px 2px #a3692da1;
    top: 10px;
    padding: px;
    align-content: center;
     background-color: #cf8a23; 
  /*  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
   */ /* color: white; */
}