.sidebarRow{
 
    align-items: center;
    display: flex;
    padding:10px 20px;
    
}
.sidebarRow_icon{
    color:#fff;
    font-size: large !important;
  
}
.active {

    background-color: black;
    color: rgb(116, 17, 17);
}
.active > .sidebarRow_icon {

    color: rgb(116, 17, 17);
}

.sidebarRow_title{
    flex:1;
    margin-left:20px;
    font-size:16px;
    font-weight: 400;
}

.sidebarRow:hover{
    padding:10px 20px;
    background-color: rgb(0, 0, 0,0.5);
}
#gradient-vertical {
    --color-stop-1: #00c3ff;
    --color-stop-2: #77e190;
    --color-stop-3: #ffff1c;
  }
.sidebarRow:hover> .sidebarRow_icon{
    color:red;
    
    fill:url(#gradient-vertical) linear-gradient(
        180deg, #eb197b, #ff0a33);
}

.sidebarRow.selected {
    background-color: black;
}
.sidebarRow.selected > .sidebarRow_icon {
    color:red;
}
.sidebarRow.selected > .sidebarRow_title {
    font-weight:bold;
}