.app_page{
    display: block;
}
.app{
    min-width:1240px;
    font-family: 'Arial', sans-serif;
    letter-spacing: -.6px; 
    font-size:14px;
}
body {
    /* background-color: black; */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover !important;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position: center;
    /* background: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-gold-background-golden-streamer-commendation-assembly-background-material-goldgolden-streameraward-image_73706.jpg); */
   /* background: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-award-ceremony-black-gold-style-background-material-backgroundawards-partyawards-ceremonyend-image_71212.jpg); */
}