.detailContent{
    font-size:30px;
    display:flex;
    align-items: center;
    margin-top:40px;
    
}
.sss{
    flex:1;
    margin-left:74px;
    margin-right:90px;
}
.detail_typo {
    flex: 0.8 1;
    color: #bba9a9;
    font-weight: 200 !important;
    font-size: 30px !important;
    background-color: #2a2929c2;
    margin-top: 18px !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}